.idea/
.DS_Store
*__pycache__*
evidently_reports/
dags/genre_classification/ml_pipeline_genre_classfication/mlflow_all_pipeline/multirun
dags/genre_classification/ml_pipeline_genre_classfication/mlflow_prediction_pipeline/multirun
dags/genre_classification/ml_pipeline_genre_classfication/mlflow_retraining_pipeline/multirun

dags/genre_classification/ml_pipeline_genre_classfication/mlflow_all_pipeline/outputs
dags/genre_classification/ml_pipeline_genre_classfication/mlflow_prediction_pipeline/outputs
dags/genre_classification/ml_pipeline_genre_classfication/mlflow_retraining_pipeline/outputs
